---
import { Icon } from "astro-icon/components";
import CV from "../../public/assets/file/CRV_Marcos.pdf";

const linksMap = [
  { label: "Sobre", href: "#about" },
  { label: "Experiência", href: "#experience" },
  { label: "Projetos", href: "#projects" },
  { label: "Contato", href: "#contact" },
];
---

<nav
  class="sticky top-0 z-50 w-full border-b border-slate-200 dark:border-neutral-border bg-white/80 dark:bg-background-dark/80 backdrop-blur-md"
>
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex justify-between h-16 items-center">
      <div class="flex items-center gap-2 group cursor-pointer">
        <div
          class="w-8 h-8 bg-primary rounded flex items-center justify-center text-white font-bold text-xl"
        >
          M
        </div>
        <span class="text-xl font-bold tracking-tight dark:text-white"
          >MarcosToledo</span
        >
      </div>
      <div class="hidden md:flex items-center space-x-8">
        {
          linksMap.map(({ label, href }) => (
            <a
              class="text-sm font-medium hover:text-primary transition-colors"
              href={href}
            >
              {label}
            </a>
          ))
        }

        <button
          class="bg-primary hover:bg-primary/90 text-white px-5 py-2 rounded-lg text-sm font-semibold transition-all shadow-lg shadow-primary/20"
          onclick={`window.open('${CV}')`}
        >
          Download CV
        </button>
      </div>
      <div class="md:hidden">
        <Icon name="material-symbols:menu" size="24" />
      </div>
    </div>
  </div>
</nav>
